:root[data-theme="light"] {
  --th-background: #ffffff;
  --th-token: #24292f;
  --th-attr: #0550ae;
  --th-code-inline: #953800;
  --th-command: #8250df;
  --th-comment: #6e7781;
  --th-deleted: #cf222e;
  --th-function: #8250df;
  --th-heading: #0550ae;
  --th-inserted: #1a7f37;
  --th-keyword: #cf222e;
  --th-link: #0969da;
  --th-literal: #0550ae;
  --th-meta: #57606a;
  --th-number: #0550ae;
  --th-operator: #8250df;
  --th-property: #0550ae;
  --th-selector: #116329;
  --th-string: #0a7f64;
  --th-tag: #116329;
  --th-type: #953800;
  --th-variable: #953800;
}

:root {
  /* Monokai Pro Filter Spectrum */
  --th-background: #222222;
  --th-token: #f8f8f2;
  --th-attr: #a9dc76;
  --th-code-inline: #fc9867;
  --th-command: #78dce8;
  --th-comment: #727072;
  --th-deleted: #ff6188;
  --th-function: #a9dc76;
  --th-heading: #78dce8;
  --th-inserted: #a9dc76;
  --th-keyword: #ff6188;
  --th-link: #78dce8;
  --th-literal: #ab9df2;
  --th-meta: #727072;
  --th-number: #ab9df2;
  --th-operator: #ff6188;
  --th-property: #a9dc76;
  --th-selector: #a9dc76;
  --th-string: #ffd866;
  --th-tag: #ff6188;
  --th-type: #78dce8;
  --th-variable: #fc9867;
}

/* 
  Removed background, padding, overflow from pre.th-code, pre.tm-code 
  because styles.css handles the layout and background for code blocks!
*/

.th-token { color: var(--th-token); }
.th-attr { color: var(--th-attr); }
.th-code-inline { color: var(--th-code-inline); }
.th-command { color: var(--th-command); }
.th-comment { color: var(--th-comment); }
.th-deleted { color: var(--th-deleted); }
.th-function { color: var(--th-function); }
.th-heading { color: var(--th-heading); }
.th-inserted { color: var(--th-inserted); }
.th-keyword { color: var(--th-keyword); }
.th-link { color: var(--th-link); }
.th-literal { color: var(--th-literal); }
.th-meta { color: var(--th-meta); }
.th-number { color: var(--th-number); }
.th-operator { color: var(--th-operator); }
.th-property { color: var(--th-property); }
.th-selector { color: var(--th-selector); }
.th-string { color: var(--th-string); }
.th-tag { color: var(--th-tag); }
.th-type { color: var(--th-type); }
.th-variable { color: var(--th-variable); }
.th-line { display: inline-block; min-width: 100%; width: max-content; }
.th-code--line-numbers code { counter-reset: th-line; }
.th-code--line-numbers .th-line::before {
  display: inline-block;
  width: 2.5em;
  padding-right: 1em;
  color: var(--th-comment);
  content: attr(data-line);
  text-align: right;
  user-select: none;
}